<div class="home-container">

    <!-- Sección Hero -->
    <section class="hero vh-100 d-flex flex-column justify-content-center align-items-center">
      <div class="hero-principal">
        <img class="hero-imagen-desarrollador rounded-circle" src="imagenes/desarrollador-ejemplo.svg">
        <h1>Hola, soy Jocelyn Magali Mancilla Blancas</h1>
        <h2 class="text-primary mb-4" id="typewriter"></h2>
      </div>
      <div class="hero-inferior">
        <img class="hero-inferior-imagen img-fluid" src="img/hero-inferior.svg" alt="Monitor, laptop y logos de HTML, CSS, JavaScript y React.">
      </div>
    </section>
  
    <!-- Sobre mi -->
    <section id="sobre-mi" class="sobre-mi seccion-oscura vh-100 d-flex justify-content-center align-items-center">
      <div class="contenedor">
        <h2 class="seccion-titulo">Conoce a Jocelyn</h2>
        <p class="seccion-texto">Soy una estudiante apasionada por el mundo de la tecnología,Me considero una persona creativa y dedicada, siempre dispuesta a aprender y mejorar mis habilidades en el desarrollo web,además, tengo un profundo interés por aprender y sumergirme en el apasionante mundo del Data Science .</p>
      </div>
    </section>
  
    <!-- Experiencia -->
    <section class="experiencia seccion-clara vh-100 d-flex justify-content-center align-items-center">
      <div class="container text-center">
        <h2 class="seccion-titulo">Experiencia</h2>
        <div class="row d-flex justify-content-center">
          <!-- Desarrollo Web -->
          <div class="columna col-12 col-md-4">
            <i class="bi bi-laptop"></i>
            <p class="experiencia-titulo">Desarrollo Web</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras laoreet, odio eget fringilla scelerisque, sem purus fringilla mauris, nec ultricies nisl nisl sit amet dolor.</p>
            <div class="badges-contenedor">
              <span class="badge text-bg-primary">HTML</span>
              <span class="badge text-bg-primary">CSS</span>
              <span class="badge text-bg-primary">JavaScript</span>
              <span class="badge text-bg-primary">React</span>
            </div>
          </div>
          <!-- Estudiante -->
          <div class="columna col-12 col-md-4">
            <i class="bi bi-laptop"></i>
            <p class="experiencia-titulo">Estudiante</p>
            <p>Instituto UTSJR, cursando 8vo cuatrimestre la Carrera en Tecnologías de la Información, Área de Desarrollo de Software Multiplataforma.</p>
            <div class="badges-contenedor">
              <span class="badge text-bg-primary">Desarrollo de Aplicaciones</span>
              <span class="badge text-bg-primary">Desarrollo Web</span>
              <span class="badge text-bg-primary">Python</span>
              <span class="badge text-bg-primary">C++</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <!-- Proyectos -->
    <section id="proyectos" class="proyectos-recientes seccion-clara vh-100 d-flex flex-column justify-content-center align-items-center">
      <h2 class="seccion-titulo texto-negro">Mis proyectos recientes</h2>
      <h3 class="seccion-descripcion">Estos son algunos proyectos que he creado recientemente...</h3>
      
      <!-- Carrusel de Proyectos -->
      <div class="container text-center proyectos-contenedor">
        <div id="proyectosCarousel" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <!-- Grupo 1 -->
            <div class="carousel-item active">
              <div class="d-flex justify-content-center">
                <div class="proyecto mx-2">
                  <img src="imagenes/proyecto1.png" alt="Proyecto 1" class="img-fluid">
                  <div class="overlay">
                    <p>Proyecto 1</p>
                    <div class="iconos-contenedor">
                      <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-github"></i>
                      </a>
                      <a href="#" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-laptop"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Grupo 2 -->
            <div class="carousel-item">
              <div class="d-flex justify-content-center">
                <div class="proyecto mx-2">
                  <img src="imagenes/proyecto2.png" alt="Proyecto 2" class="img-fluid">
                  <div class="overlay">
                    <p>Proyecto 2</p>
                    <div class="iconos-contenedor">
                      <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-github"></i>
                      </a>
                      <a href="#" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-laptop"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Grupo 3 -->
            <div class="carousel-item">
              <div class="d-flex justify-content-center">
                <div class="proyecto mx-2">
                  <img src="imagenes/proyecto3.png" alt="Proyecto 3" class="img-fluid">
                  <div class="overlay">
                    <p>Proyecto 3</p>
                    <div class="iconos-contenedor">
                      <a href="https://github.com/" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-github"></i>
                      </a>
                      <a href="#" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-laptop"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#proyectosCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#proyectosCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>
      </div>
      
      <a href="https://github.com/Jocelyn-MB" target="_blank" rel="noopener noreferrer" class="mt-4">
        <button type="button" class="btn btn-info">
          Ver más proyectos
          <i class="bi bi-arrow-right-circle-fill"></i>
        </button>
      </a>
    </section>
  
    <!-- Contacto -->
    <section id="contacto" class="contacto seccion-oscura vh-100 d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="container text-center rectangulo d-flex justify-content-evenly">
          <div class="row">
            <div class="col-12 col-md-4 seccion-titulo">¡Hablemos!</div>
            <div class="col-12 col-md-4 descripcion">Contáctame para iniciar tu proyecto de desarrollo web y haré que tu visión se vuelva realidad.</div>
            <div class="col-12 col-md-4">
              <a href="mailto:mancillablancasjocelyn@gmail.com ">
                <button type="button">
                  Contacto
                  <i class="bi bi-envelope-check-fill"></i>
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="iconos-redes-sociales d-flex justify-content-center">
          <a href="https://github.com/Jocelyn-MB" target="_blank" rel="noopener noreferrer" class="mx-2">
            <i class="bi bi-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/jocelyn-blancas/" target="_blank" rel="noopener noreferrer" class="mx-2">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="mailto:mancillablancasjocelyn@gmail.com" target="_blank" rel="noopener noreferrer" class="mx-2">
            <i class="bi bi-envelope"></i>
          </a>
        </div>
      </div>
    </section>
  </div>