<div class="home-container">

    <!-- Sección Hero -->
    <section class="hero vh-100 d-flex flex-column justify-content-center align-items-center">
      <div class="hero-principal">
        <img class="hero-imagen-desarrollador rounded-circle" src="/img/jocelyn.jpg">
        <h1>Hola, soy Jocelyn Magali Mancilla Blancas</h1>
        <h2 class="text-primary mb-4" id="typewriter"></h2>
      </div>
      <div class="hero-inferior">
        <img class="hero-inferior-imagen img-fluid" src="img/hero-inferior.svg" alt="Monitor, laptop y logos de HTML, CSS, JavaScript y React.">
      </div>
    </section>
  
    <!-- Sobre mi -->
    <section id="sobre-mi" class="sobre-mi seccion-oscura vh-100 d-flex justify-content-center align-items-center">
      <div class="contenedor">
        <h2 class="seccion-titulo">Conoce a Jocelyn</h2>
        <p class="seccion-texto">Soy una estudiante apasionada por el mundo de la tecnología,Me considero una persona creativa y dedicada, siempre dispuesta a aprender y mejorar mis habilidades en el desarrollo web,además, tengo un profundo interés por aprender y sumergirme en el apasionante mundo del Data Science .</p>
      </div>
    </section>
  
    <!-- Experiencia -->
    <section class="experiencia seccion-clara vh-100 d-flex justify-content-center align-items-center">
      <div class="container text-center">
        <h2 class="seccion-titulo">Experiencia</h2>
        <div class="row d-flex justify-content-center">
          <!-- Desarrollo Web -->
          <div class="columna col-12 col-md-4">
            <i class="bi bi-laptop"></i>
            <p class="experiencia-titulo">Desarrollo Web</p>
            <p>Mi travesía en ingeniería de software me ha permitido aprender diseño y desarrollo web, mejorando mis habilidades mediante proyectos prácticos de creación de páginas web.</p>
            <div class="badges-contenedor">
              <span class="badge text-bg-primary">HTML</span>
              <span class="badge text-bg-primary">CSS</span>
              <span class="badge text-bg-primary">JavaScript</span>
              <span class="badge text-bg-primary">React</span>
            </div>
          </div>
          <!-- Estudiante -->
          <div class="columna col-12 col-md-4">
            <i class="bi bi-laptop"></i>
            <p class="experiencia-titulo">Estudiante</p>
            <p>Instituto UTSJR, cursando 8vo cuatrimestre la Carrera en Tecnologías de la Información, Área de Desarrollo de Software Multiplataforma.</p>
            <div class="badges-contenedor">
              <span class="badge text-bg-primary">Desarrollo de Aplicaciones</span>
              <span class="badge text-bg-primary">Desarrollo Web</span>
              <span class="badge text-bg-primary">Python</span>
              <span class="badge text-bg-primary">C++</span>
            </div>
          </div>
        </div>
      </div>
    </section>
  
  
    <!-- Contacto -->
    <section id="contacto" class="contacto seccion-oscura vh-100 d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="container text-center rectangulo d-flex justify-content-evenly">
          <div class="row">
            <div class="col-12 col-md-4 seccion-titulo">¡Hablemos!</div>
            <div class="col-12 col-md-4 descripcion">Contáctame para iniciar tu proyecto de desarrollo web y haré que tu visión se vuelva realidad.</div>
            <div class="col-12 col-md-4">
              <a href="mailto:mancillablancasjocelyn@gmail.com ">
                <button type="button">
                  Contacto
                  <i class="bi bi-envelope-check-fill"></i>
                </button>
              </a>
            </div>
          </div>
        </div>
        <div class="iconos-redes-sociales d-flex justify-content-center">
          <a href="https://github.com/Jocelyn-MB" target="_blank" rel="noopener noreferrer" class="mx-2">
            <i class="bi bi-github"></i>
          </a>
          <a href="https://www.linkedin.com/in/jocelyn-blancas/" target="_blank" rel="noopener noreferrer" class="mx-2">
            <i class="bi bi-linkedin"></i>
          </a>
          <a href="mailto:mancillablancasjocelyn@gmail.com" target="_blank" rel="noopener noreferrer" class="mx-2">
            <i class="bi bi-envelope"></i>
          </a>
        </div>
      </div>
    </section>
  </div>