<div style="background-color:#111111; margin: 20px; padding: 20px;">
  <h1 style="color:  white; font-family: 'Arial', sans-serif; text-align: center;">Catálogo de Productos</h1>

  <!-- Tabla de productos -->
  <!-- Tabla de productos con diseño Bootstrap negro -->
<table class="table table-dark " style="width: 100%; margin: 20px auto; border-bottom: 2px solid #574F78;">
    <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Seleccionar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        @for (producto of productos; track producto.id) {
            <tr>
                <td>{{producto.id}}</td>
                <td>{{producto.descripcion}}</td>
                <td>{{producto.precio }}</td>
                <td>
                    <button type="button" class="btn" style="background-color:  #574F78; color: white;" (click)="selectProducto(producto)">
                        Seleccionar
                    </button>
                </td>
                <td>
                    <button type="button" class="btn" style="background-color: red; color: white;" (click)="deleteProducto()">
                        Eliminar
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


  <!-- Formulario para agregar/modificar productos -->
  <div style="background-color:#DCC6EA;  padding: 20px; border-radius: 8px;">
    <h3 style="color: #574F78;">Formulario de Productos</h3>
      <p style="color: black;">
          ID: <input type="text" class="form-control" [(ngModel)]="producto.id" >
      </p>
      <p style="color: black;">
          Descripción: <input type="text" class="form-control" [(ngModel)]="producto.descripcion"  >
      </p>
      <p style="color: black;">
          Precio: <input type="text" class="form-control" [(ngModel)]="producto.precio" >
      </p>
      <table>
          <tr>
              <td>
                  <button type="button" class="btn btn-success" (click)="insertarProducto()" style="background-color: green; border: none;">Agregar</button>
              </td>
              <td>
                  <button type="button" class="btn btn-primary" (click)="updateProducto()" style="background-color: blue; border: none;">Modificar</button>
              </td>
          </tr>
      </table>
  </div>
</div>